<div class="chat-window">
    <input @bind="sporgsmaal" placeholder="Spørg om noget" /><button>spørg</button>
    <p>@svar</p>
</div>

@code{
    private string sporgsmaal = "";
    private string svar = "";
    private void svarmetode() {
        if (string.IsNullOrWhiteSpace(sporgsmaal)) {
            svar = "Du har ikke skrevet noget!";
        } else if(sporgsmaal == "Hej") {
            svar = "Hej! hvad kan jeg gøre for dig?";
        } else {
            svar = $"Du skrev: {sporgsmaal}";
        }
    }
}